.btn {
    font-size: 1.6rem;
    color: $rock-blue-color;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    outline: none;
    border: none;
    text-transform: capitalize;
}