.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search h2 {
    font-size: 2.4rem;
}

.form {
    margin: 2rem;
}

.form label {
    font-size: 1.8rem;
}

.form input {
    outline: none;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    border: none;
    font-size: 1.5rem;
    color: #222B45;
    font-weight: 700;
}

.form button {
    padding: 0.3rem 0.5rem;
    color: #F8FAFB;
    background-color: #222B45;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    outline: none;
}