.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.title {
    font-size: 3.2rem;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 3.8rem;
    }
}


/* Medium devices (landscape tablets, 992px and up) */