@import '../core/variables';
@import '../core/responsive';
.country {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $white-dark;
    margin: 1rem 4rem 0;
    @include media-medium-1 {
        width: 80%;
        margin: 2rem auto;
    }
    .name {
        font-size: 2rem;
        text-transform: capitalize;
        @include media-medium-1 {
            font-size: 2.5rem;
        }
    }
    .cases {
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin: 0.5rem 0.5rem 0;
        p {
            font-size: 1.6rem;
            padding: 0.5rem 1rem 0 0;
            font-weight: 300;
            @include media-medium-1 {
                font-size: 2.2rem;
            }
        }
        span {
            font-size: 1.8rem;
            font-weight: 500;
            @include media-medium-1 {
                font-size: 2.2rem;
            }
        }
        .active {
            color: $blue-active;
        }
        .deaths {
            color: $red-confirmed;
        }
        .critical {
            color: $death-more;
        }
    }
}