@import '../core/variables';
@import '../ui/btn.module';
@import '../ui/stats.module';
@import '../core/responsive';
.world {
    color: $white;
    margin-top: 3rem;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        h2 {
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: capitalize;
            @include media-medium-1 {
                font-size: 3.5rem;
            }
        }
    }
    .total {
        color: $white-dark;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 3rem 1rem;
        .singleItem {
            padding: 0.5rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .date {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-medium-1 {
            font-size: 3rem;
        }
        p {
            font-size: 1.6rem;
            margin: 0 1rem;
            @include media-medium-1 {
                font-size: 2.5rem;
            }
            span {
                padding: 0 0.8rem;
                @include media-medium-1 {
                    font-size: 2.5rem;
                }
            }
        }
        label {
            font-size: 1.8rem;
            font-weight: 500;
            @include media-medium-1 {
                font-size: 2.5rem;
            }
        }
    }
}