@import '../core/variables';
@import '../core/responsive';
.btn {
    background-color: $white-dark;
    color: $background-light;
    font-size: 1.4rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
    @include media-medium-1 {
        font-size: 2.4rem;
    }
}

.searchBtn {
    background-color: $white-dark;
    color: $background-light;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
    padding: 0.5rem 1.4rem;
}

.clearBtn {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    color: $background-color;
    border-radius: 1rem;
    border: none;
    @include media-medium-1 {
        font-size: 2.2rem;
    }
    @include media-medium-2 {
        width: 30%;
    }
    @include media-large {
        width: 10%;
    }
}