// colors
$background-color: #161625;
$header-background: #400c60;
$background-light: #222b45;
$red-confirmed: #d40835;
$blue-active: #1271dd;
$recovered: #28a744;
$death: #333543;
$death-more: #92979c;
$white-dark: #f8fafb;
$white: #ffffff;