@import './variables';
@import '../core/responsive';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    background-color: $background-color;
}

::before,
::after {
    box-sizing: border-box;
}