@import '../style/core/variables';
@import '../style/ui/btn.module';
.form {
    margin-bottom: 2rem;
    .input {
        border: none;
        border-bottom: 1px solid $ivory-color;
        margin: 0 0.5rem;
        outline: none;
        padding: 0.3rem 1rem;
        font-size: 1.6rem;
        border-radius: 0.8rem;
        &::placeholder {
            opacity: 0.8;
            color: $main-color;
        }
        &:focus {
            border-color: 1px solid $ivory-color;
        }
    }
}