@import '../abstracts/variables.scss';
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    .title {
        color: $very-dark;
        font-size: 3rem;
        letter-spacing: 0.6rem;
        text-transform: uppercase;
    }
}