@import '../abstracts/variables.scss';
@import '../core/responsive.module.scss';
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 1rem;
    padding: 0.5rem;
    @include media-large {
        margin: 5rem 1rem;
    }
    //  title content
    .title {
        display: flex;
        align-items: center;
        color: $dark-desaturated-blue;
        h4 {
            font-size: 1.4rem;
            margin-left: 8rem;
            text-align: center;
        }
    }
    //  img content
    .image {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
            margin: 1rem 0rem 0.5rem;
            width: 8rem;
            border-radius: 0.5rem;
        }
        .textDescription {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .descriptionImage {
                font-size: 1.4rem;
                color: $very-dark-blue;
                padding: 0.5rem 0;
                margin: 0.5rem 1rem 1rem 2.5rem;
                text-align: center;
            }
            .tagline {
                font-size: 1.3rem;
                color: $very-dark-blue;
                margin-top: 1.5rem;
                font-weight: 800;
                text-align: center;
            }
        }
    }
    .description {
        label {
            font-size: 1.6rem;
            font-weight: 600;
        }
        font-size: 1.5rem;
        font-weight: 500;
        color: $very-dark;
        padding: 0.5rem;
    }
    .btnShow {
        color: $white;
        background-color: $very-dark;
        width: 50%;
        border: none;
        margin-left: 8rem;
        padding: 0.5rem 1rem;
        outline: none;
        border-radius: 0.8rem;
         :hover {
            cursor: pointer;
        }
    }
    //  more info
    .moreInfo {
        margin: 2rem 2.5rem;
        .moreInfoContent {
            text-align: center;
            font-size: 1.4rem;
            color: $very-dark-blue;
            padding: 0.5rem 2rem;
            margin-left: 8rem;
        }
    }
}